.array-container {
    left: 10%;
    margin: auto;
    width: 80%;
    display: block;
    height: 100%;
    position: fixed;
}

.grid-square {
    position: absolute;
}

select {
    color: #428bca;
    padding: 4px 20px;
    border-radius: 8px;
    margin: 5px;
}

option, label {
    color: #428bca;
    margin-left: 10px;
}